{% extends 'base_layout.html' %}
{% load static %}

<!DOCTYPE html>
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'homepage-styles.css' %}">
  </head>
  <body>
    <section class="hero">
      <div class="site-description">
        <h2>Grocery shopping with a difference!</h2>
        <p>A webscraper that compares the prices of your shopping basket.</p>
        <br>
        <a href="{% url 'about' %}" class="tag-about">Find Out More!</a>
      </div>
    </section>
    <span class="created-by"><p>Created Aishwarya Sakunde and Arti Singh</p></span>
  </body>
{% endblock %}
